<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <footer>
            <div class="py-[30px] bg-[#F0F6F9] mb-[20px]">
                <div class="container">
                    <div class="flex min-mb:items-center gap-[40px] items-start justify-between max-mb:flex-col">
                        <img src="../img/shukur/logo.svg" alt="">
                        <div
                            class="flex min-mb:items-center max-mb:flex-col min-mb:gap-[30px] gap-[20px] text-[16px] text-[#4F4F4F] font-semibold">
                            <a href="#">Направления</a>
                            <a href="#">Услуги</a>
                            <a href="#">Врачи</a>
                            <a href="#">Отзывы</a>
                            <a href="#">Акции</a>
                            <div class="flex items-center gap-[10px]">
                                <a href="#">О центре</a>
                                <img src="../img/shukur/arrow-bottom.png" alt="">
                            </div>
                            <a href="#">Детство</a>
                            <a href="#">Контакты</a>
                        </div>
                    </div>
                    <div
                        class="text-[#141414] flex max-mb:flex-col justify-between mt-[50px] mb-[40px] text-[16px] gap-[30px]">
                        <div class="text-[#4F4F4F] flex flex-col justify-between none">
                            <p>© 2011-2023 Городской Медицинский <br> Центр. Все права защищены.</p>
                        </div>
                        <div class="flex flex-col gap-[5px] min-mb:ml-[-18px]">
                            <p class="text-[#00578A] text-[28px]">8 (495) 926-06-03</p>
                            <p class="text-[#00578A] text-[28px]">8 (495) 588-08-80</p>
                        </div>
                        <div class="flex flex-col gap-[25px]">
                            <p>г. Мытищи, ул.Рождественская, д.7</p>
                            <p><span class="text-[#7F8D94]">Ежедневно</span> с 9.00 до 21.00</p>
                        </div>
                        <div>
                            <button
                                class="py-[16px] px-[30px] text-[#4F4F4F] font-semibold rounded-[5px] text-[16px] bg-[#E3EFF5] max-mb:w-[100%] cursor-pointer transition-all hover:bg-[#0074B8] hover:text-[white]">
                                Заказать обратный звонок
                            </button>
                        </div>
                    </div>
                    <div class="flex gap-[50px] justify-between min-mb:items-end max-mb:flex-col">
                        <p class="text-[#7F8D94] underline underline-offset-5 none">Политика конфиденциальности</p>
                        <div class="flex items-center gap-[10px] text-[#4F4F4F] none">
                            <img src="../img/shukur/whatsapp.png" alt="">
                            <a href="#">Написать в Whatsapp</a>
                        </div>
                        <div class="text-[#4F4F4F] flex items-center gap-[10px] none">
                            <img src="../img/shukur/vk.png" alt="">
                            <a href="#">
                                Vkontakte
                            </a>
                        </div>
                        <div class="flex flex-col gap-[20px] min-mb:hidden">
                            <div class="flex items-center gap-[10px] text-[#4F4F4F]">
                                <img src="../img/shukur/whatsapp.png" alt="">
                                <a href="#">Написать в Whatsapp</a>
                            </div>
                            <div class="text-[#4F4F4F] flex items-center gap-[10px]">
                                <img src="../img/shukur/vk.png" alt="">
                                <a href="#">
                                    Vkontakte
                                </a>
                            </div>
                        </div>
                        <div class="flex flex-col gap-[12px]">
                            <p>info@gormedcentre.ru</p>
                            <div class="flex items-center gap-[10px]">
                                <img src="../img/shukur/glasses.png" alt="">
                                <p>Версия для слабовидящих</p>
                            </div>
                        </div>
                        <div class="view">
                            <p class="text-[#4F4F4F] mb-[10px]">
                                © 2011-2023 Городской Медицинский Центр. Все права защищены.
                            </p>
                            <p class="text-[#7F8D94] underline underline-offset-5">Политика конфиденциальности</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="text-[#000000]">
                    Информация о ценах носит уведомительный характер и не является публичной офертой. Действующий
                    прейскурант, заверенный печатью и подписью руководителя, находится на информационных стендах Центра.
                    Деятельность ООО «ГМЦ» осуществляется на основании действующей лицензии, выданной Департаментом
                    здравоохранения города Москвы. <br> <br>
                    Имеются противопоказания. Необходимо проконсультироваться со специалистом
                </p>
            </div>
    </footer>
</body>

</html>