<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <header>
        <div class="container">
            <nav class="text-[#4F4F4F] text-[14px] flex items-center justify-between py-[10px] max-mb:py-[15px]">
                <div>
                    <img class="max-mb:w-[150px]" src="../img/shukur/logo.svg" alt="">
                </div>
                <div class="none">
                    <p class="text-[#00578A] text-[20px] font-semibold">8 (495) 926-06-03</p>
                    <div class="flex gap-[8px] items-start">
                        <img src="../img/shukur/whatsapp.png" alt="">
                        <a href="#">Whatsapp</a>
                    </div>
                </div>
                <div class="flex flex-col gap-[5px] none">
                    <a href="#">info@gormedcentre.ru</a>
                    <a class="underline underline-offset-2" href="#">Заказать звонок</a>
                </div>
                <div class="flex flex-col none">
                    <a href="#">г. Мытищи,</a>
                    <a href="#">ул.Рождественская, д.7</a>
                </div>
                <div class="flex flex-col none">
                    <a href="#">Ежедневно</a>
                    <a href="#">с 9.00 до 21.00</a>
                </div>
                <div class="flex gap-[10px] none">
                    <a href="#">
                        <img class="bg-[#00C6BF] p-[15px] rounded-[5px] transition-all duration-500 hover:bg-[#00578A] hover:shadow-[0_0_10px_#00000053]"
                            src="../img/shukur/search.png" alt="">
                    </a>
                    <button
                        class="bg-[#E3EFF5] text-[#00578A] font-bold rounded-[5px] py-[12px] px-[33px] cursor-pointer transition-all duration-500 hover:bg-[#00578A] hover:text-[#E3EFF5] hover:shadow-[0_0_10px_#00000053]">Личный
                        кабинет</button>
                </div>
                <div class="flex items-center gap-[14px] min-mb:hidden">
                    <img src="../img/shukur/header_call.png" alt="">
                    <img src="../img/shukur/burger.png" alt="">
                </div>
            </nav>
            <div class="none p-[10px] flex items-center justify-between shadow-[0_5px_10px_#00000010] rounded-[5px]">
                <div class="text-[#141414] font-semibold text-[16px] flex items-center gap-[30px] ">
                    <div class="flex items-center gap-[10px]">
                        <a href="#">Направления</a>
                        <img src="../img/shukur/arrow-bottom.png" alt="">
                    </div>
                    <a href="#">Услуги</a>
                    <a href="#">Врачи</a>
                    <a href="#">Отзывы</a>
                    <a href="#">Акции</a>
                    <div class="flex items-center gap-[10px]">
                        <a href="#">О центре</a>
                        <img src="../img/shukur/arrow-bottom.png" alt="">
                    </div>
                    <a href="#">Детство</a>
                    <a href="#">Контакты</a>
                </div>
                <div class="flex items-center gap-[10px]">
                    <img src="../img/shukur/glasses.png" alt="">
                    <a class="text-[#141414]" href="#">Версия для слабовидящих</a>
                </div>
                <button
                    class="hover:bg-[#E3EFF5] hover:text-[#00578A] font-bold rounded-[5px] py-[12px] px-[28px] cursor-pointer transition-all duration-500 bg-[#00578A] text-[#E3EFF5] text-[14px] ">Запись
                    на приём</button>
            </div>
        </div>
    </header>
</body>

</html>