<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section class="w-full py-[40px] mb:py-[80px] bg-white">
  <div class="container">
    
    <div class="flex flex-col mb:flex-row mb:items-center mb:justify-between mb-[30px] mb:mb-[60px] gap-[20px]">
      <h2 class="text-[32px] mb:text-[48px] font-bold text-[#1A1A1A]">
        Отзывы пациентов
      </h2>
      
      <div class="none mb:flex gap-[15px]">
        <button class="cursor-pointer">
          <img src="../img/suhrob/back.png" class="w-[48px] h-[48px] object-contain">
        </button>
        <button class="cursor-pointer">
          <img src="../img/suhrob/forward.png" class="w-[48px] h-[48px] object-contain">
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 mb:grid-cols-2 gap-y-[40px] mb:gap-x-[100px]">
      
      <div class="flex flex-col">
        <div class="mb-[12px]">
          <h3 class="text-[16px] font-bold text-[#1A1A1A]">Балушина Татьяна</h3>
          <p class="text-[14px] text-[#787A80] mt-[4px]">18 апреля 2022</p>
        </div>

        <div class="mb-[20px]">
          <img src="../img/suhrob/Stars.png" class="h-[18px] w-auto object-contain">
        </div>

        <p class="text-[#333333] leading-[1.5] text-[16px] mb-[25px]">
          Попала к Татьяне Ивановне спонтанно. Очень довольна приёмом и проведением ультразвуковой диагностики. Спасибо Наталье Ивановне за внимательное отношение к пациентам! При возникновении проблем теперь только к ней!
        </p>

        <div class="mb-[20px]">
          <button class="w-full mb:w-[200px] h-[50px] border-[1px] border-[#0087C1] bg-transparent text-[#0087C1] text-[14px] font-bold rounded-[5px] cursor-pointer">
            Подробнее
          </button>
        </div>

        <p class="text-[14px] text-[#1A1A1A] font-bold">
          Врач: <a href="#" class="text-[#0087C1] cursor-pointer">Савина Наталья Владимировна</a>
        </p>
      </div>

      <div class="none mb:flex flex-col">
        <div class="mb-[12px]">
          <h3 class="text-[16px] font-bold text-[#1A1A1A]">Трофимов Иван</h3>
          <p class="text-[14px] text-[#787A80] mt-[4px]">24 ноября 2021</p>
        </div>

        <div class="mb-[20px]">
          <img src="../img/suhrob/Stars.png" class="h-[18px] w-auto object-contain">
        </div>

        <p class="text-[#333333] leading-[1.5] text-[16px] mb-[25px]">
          Огромное спасибо врачу за тщательное обследование. Выявили нехватку витамина Д, проблем с щитовидной, к счастью, не оказалось. Доктор приятная в общении и настоящий профессионал!
        </p>

        <div class="mb-[20px]">
          <button class="w-full mb:w-[200px] h-[50px] border-[1px] border-[#0087C1] bg-transparent text-[#0087C1] text-[14px] font-bold rounded-[5px] cursor-pointer">
            Подробнее
          </button>
        </div>

        <p class="text-[14px] text-[#1A1A1A] font-bold">
          Врач: <a href="#" class="text-[#0087C1] cursor-pointer">Крятов Андрей Михайлович</a>
        </p>
      </div>

    </div>
  </div>
</section>
</body>
</html>