<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <section>
        <div class="container">
            <div class="flex items-center gap-[80px]">
                <div class="max-w-[600px]">
                    <h2 class="text-[#141414] text-[48px] mb-[40px] leading-[100%]">Немного о нашем медицинском центре
                    </h2>
                    <p class="leading-[28px]">
                        Многопрофильное амбулаторно-поликлиническое учреждение для детей и взрослых в городе Мытищи.
                        Мы предоставляем платные медицинские услуги и занимаем лидирующие позиции среди медицинских
                        учреждений города Мытищи. У нас ежегодно обслуживаются более 150000 пациентов.
                    </p>
                </div>
                <img class="none" src="../img/shukur/our_center.png" alt="">
            </div>
            <div
                class="bg-[#F0F6F9] mb:py-[45px] mb:px-[70px] grid mb:grid-cols-[250px_250px_250px_250px] justify-between max-mb:grid-cols-2 p-[20px] gap-[30px] max-mb:text-[14px] max-mb:mt-[20px] rounded-[5px]">
                <div class="flex flex-col items-start gap-[5px]">
                    <img class="mb-[15px]" src="../img/shukur/mplus.png" alt="">
                    <p class="text-[#017CC1] max-mb:text-[20px] text-[24px] font-bold">>10</p>
                    <p class="text-[#141414]">лет заботы о вашем здоровье</p>
                </div>
                <div class="flex flex-col items-start gap-[5px]">
                    <img class="mb-[15px]" src="../img/shukur/mplus.png" alt="">
                    <p class="text-[#017CC1] max-mb:text-[20px] text-[24px] font-bold">150</p>
                    <p class="text-[#141414]">квалифицированных специалистов</p>
                </div>
                <div class="flex flex-col items-start gap-[5px]">
                    <img class="mb-[15px]" src="../img/shukur/mplus.png" alt="">
                    <p class="text-[#017CC1] max-mb:text-[20px] text-[24px] font-bold">3 000</p>
                    <p class="text-[#141414]">медицинских услуг по всем направлениям</p>
                </div>
                <div class="flex flex-col items-start gap-[5px]">
                    <img class="mb-[15px]" src="../img/shukur/mplus.png" alt="">
                    <p class="text-[#017CC1] max-mb:text-[20px] text-[24px] font-bold">День в день</p>
                    <p class="text-[#141414]">прием врача любой специальности в день обращения</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>