<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="w-[90%] m-auto mt-[20px] mb-[50px]">
                    <div class="flex justify-between items-center mb-[20px] max-mb:flex-col max-mb:justify-start max-mb:items-start">
                        <p class="text-[#141414] text-[40px] font-[700]">Лицензии и сертификаты</p>
                        <div class="flex gap-[5px]">
                            <img src="../img/mapimg/back.png" alt="">
                            <img src="../img/mapimg/forward.png" alt="">
                        </div>
                    </div>
                    <div class="flex gap-[10px] max-mb:w-full max-mb:overflow-x-auto ">
                        <div class="flex-shrink-0 flex flex-col gap-y-[10px] w-[305px] ">
                            <div class="border-[1px] border-[#BEE1F6] p-[10px]">
                                <img  src="../img/mapimg/image (11).png" alt="">
                            </div>
                            <p>Сертификат ГОСТ Р ISO 9001-2015</p>
                        </div>
                        <div class="flex-shrink-0 flex flex-col gap-y-[10px] w-[305px] relative ">
                            <div class="border-[1px] border-[#BEE1F6] p-[10px]">
                                <img src="../img/mapimg/image (12).png" alt="">
                            </div>
                            <p class="text-[#017CC1]">Лицензия Л041-01162-5000369739 (выписка из реестра)</p>
                            <div class="absolute bottom-[40px] right-0">
                                <img src="../img/mapimg/increase.png" alt="">
                            </div>
                        </div>
                        <div class="flex-shrink-0 flex flex-col gap-y-[10px] w-[305px] ">
                            <div class="border-[1px] border-[#BEE1F6] p-[10px]">
                                <img src="../img/mapimg/image (13).png" alt="">
                            </div>
                            <p>Лицензия Л017-01162-50/00561579 (выписка из реестра)</p>
                        </div>
                        <div class="flex-shrink-0 flex flex-col gap-y-[10px] w-[305px] ">
                            <div class="border-[1px] border-[#BEE1F6] p-[10px]">
                                <img src="../img/mapimg/image (12).png" alt="">
                            </div>
                            <p >Лицензия Л041-01162-5000369739 (выписка из реестра)</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>   
</body>
</html>