<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <main>
        <section>
            <div class="container">
                <div class="w-[90%] m-auto mt-[20px] mb-[20px] max-mb:w-[100%] flex flex-col justify-center items-center max-mb:w-[100%] ">
                    <p class="text-[#141414] text-[40px] font-[700] mb-[20px] max-mb:text-[30px]">Наши партнеры</p>
                    <div class="flex flex-wrap gap-[10px] items-center justify-center">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_1.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_2.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_3.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_4.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_5.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_6.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_7.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_8.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_9.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_10.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_11.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_12.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_13.png" alt="">
                        <img class="w-[150px] max-mb:w-[100px]" src="../img/mapimg/logo_14.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>