@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #787A80;
}

.active {
    color: #FFFFFF;
}

.view {
    display: none;
}

.btn_green {
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    background: #00C6BF;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: #00000053;
}
.btn_blue {
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    background: #00578A;
    font-weight: 700;
    border-radius: 5px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-weight: 700;
}



.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.page1_herobg{
    background: linear-gradient(278.5deg, #0074B8 22.09%, #00BAC6 102.19%);
}


@theme {
    --breakpoint-mb: 510px;
    --breakpoint-tablet: 960px;
    --breakpoint-laptop: 1200px;
}

@media (max-width:510px) {
    .view {
        display: block;
    }

    .none {
        display: none;
    }
}